<!DOCTYPE html>
<html lang="en" class="dark h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "CoupGame", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="pt-24 flex flex-col h-full dark:bg-slate-600">
    <header>
      <nav class="fixed top-0 left-0 right-0 z-30  bg-gray-700 shadow-lg p-2 text-gray-300">
        <div class="container">
          <h1 class="pr-10">Coup Game</h1>
        </div>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <div class="container flex items-center text-sm hover:text-blue-400">
          <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
          </div>
        <% end %>
      </nav> 
    </header>

    <div class="container p-3">
    <%= @inner_content %>
    </div>

    <footer class="bg-gray-700 shadow-md mt-auto py-3">
      <div class="container pb-4 max-w-4xl mx-auto text-center text-gray-300 text-sm">
       2022 - <%= DateTime.utc_now.year %> &copy; CoupGame
      </div>
      
    </footer>
  </body>
</html>
